.awards {
    margin: 15px;
    padding-bottom: 100px;
}

footer > p {
    text-align: center;
    margin: 6em;
    font-size: 18px;
}

.educational-platform, .category-organization{
    display: flex;
}

.educational-platform > img {
    width: 90px;
    height: 50px;
    margin-left: 12em;
    margin-top: -4em;
}
.educational-platform > p {
    margin-left: -17.5em;
    margin-top: -15px;
}

.category-organization > img {
    width: 150px;
    height: 110px;
    margin-left: 43em;
    margin-top: -6em;
}

.educational-platform > h2 {
    margin-left: 20px;
    margin-top: -50px;
    font-size: 1.4em;
}

.category-organization > h2 {
    margin-left: 20px;
    margin-top: -60px;
    width: 260px;
    font-size: 1.2em;
}

.category-organization > p {
    margin-left: -16em;
}


.vertical-line{
    margin-left: 25px;
    margin-top: -55px;
    border-left: 1px solid grey;
    height: 60px;
}