* {
  margin: 0;
  padding: 0;
}

.about-content, .graduates-container {
  display: inline-block;
}

.about-content h1 {
  padding: 2.5em 13rem;
}

.graduates-container {
    margin: 1em;
    padding: 3em;
    /* margin-left: 4em; */
    margin-left: 6em;
    width: 19em;
    height: 13em;
    background-color: #2f95e9;
    box-shadow: 4px 0 2px #222, -4px 0 2px #222;
}

.about {
  box-shadow: 5px 10px 18px #888888;
}

.about-content > p {
  width: 600px;
  padding-left: 15em;
  margin-top: -3em;
  font-size: 14px;
}

.success-rate-content {
  background-color: #2f95e9;
  padding-left: 2em;
  /* margin: 20px 47px 0px 37px; */
}

.success-rate-content > h3 {
  margin: -60px 30px -32px 25px;
  font-size: 15px;
}

.circle-container {
  width:130px;
  height:130px;
  border-radius:50%;
  font-size: 34px;
  line-height:100px;
  text-align:center;
  background:#fff;
  margin: 0 auto;
  margin-right: 102px;
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .graduates-container {
    margin: 8px;
    padding: 3em;
    /* margin-left: 4em; */
    width: 19em;
    height: 13em;
    background-color: #2f95e9;
    box-shadow: 4px 0 2px #222, -4px 0 2px #222;
  }

  .success-rate-content {
    background-color: #2f95e9;
    padding-left: 0em;
    margin: 6px 41px -2px 37px;
  }
}

@media screen and (max-width: 950px) {
  .about-content {
    margin: -6em;
  }
  .graduates-container {
    display: block;
    margin: 7em;
    margin-left: 7em;
  }
  .about-content > p {
    padding-left: 210px;
    width: 39em;
    margin-top: 1em;
    margin-bottom: 1em;
}
  .about-content h1 {
    padding: 93px 2px 3px 210px;
  }
}

@media screen and (max-width: 700) {
  .graduates-container {
    display: block;
    margin: 7em;
    margin-left: 7em;
  }
}

@media screen and (max-width:320px) {
    .about-content > h1 {
      padding: 121px 2px 3px 164px;
    }
    .about-content > p {
      padding-left: 162px;
      width: 28em;
    }
    .graduates-container {
      margin: 7em;
      margin-left: 1em;
      width: 18em;
    }
}