@import "./navigation.css";
@import "./header-about.css";

.background-image {
  width: 100%;
  height: 50%;
  filter: contrast(50%);
}

.box {
  display: inline-block;
  background-color: rgb(214, 214, 127);
}
.apply-container {
  font-size: 14px;
  top: 123%;
  left: 6%;
  position: absolute;
  padding: 5px;
  width: 165px;
}

.apply {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 13px;
  margin: -1px;
  text-transform: uppercase;
}

.apply-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #3e4c5d;
  padding: 13px;
  color: #ffffff;
  width: 155px;
}

.exam-container {
  font-size: 14px;
  top: 120%;
  left: 19%;
  position: absolute;
  padding: 1px;
  padding-bottom: 115px;
}

.exam {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
}

.entry-exam-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #fc4a4f;
  padding: 17px;
  color: #ffffff;
  width: 160px;
  padding-bottom: 31px;
}

.foundation-container {
  font-size: 14px;
  top: 108%;
  left: 31%;
  position: absolute;
  padding: 0.8em;
}

.foundation {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  width: 163px;
}

.program-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #8340b1;
  padding: 17px;
  color: #ffffff;
  width: 163px;
  text-align: center;
}

.module {
  box-shadow: inset 0 0 10px #000000;
  background-color: #8340b1;
  padding: 17px;
  color: #ffffff;
  width: 163px;
  text-align: center;
}

.professions-container {
  font-size: 14px;
  top: 107%;
  left: 45%;
  position: absolute;
}

.profession {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  width: 170px;
}

.professions-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffa100;
  padding: 17px;
  color: #ffffff;
  width: 170px;
}

.profession-module {
  box-shadow: inset 0 0 10px #000000;
  background-color: #cc8000;
  padding: 17px;
  color: #ffffff;
  text-align: center;
  width: 170px;
}

.professions-details {
  text-align: center;
}

.career-container {
  font-size: 14px;
  top: 105%;
  left: 59%;
  position: absolute;
}

.career {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
}

.start-career-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #1ec05d;
  padding: 15px;
  padding-bottom: 115px;
  color: #ffffff;
  width: 160px;
  text-align: center;
}

.graduation-container {
  font-size: 14px;
  top: 101%;
  left: 72%;
  position: absolute;
}

.graduation {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
}

.graduation-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #42abf8;
  padding: 15px;
  padding-bottom: 140px;
  color: #ffffff;
  text-align: center;
  width: 160px;
}

@media screen and (max-width: 1024px) {
  .apply-container {
    font-size: 12px;
    top: 60em;
    left: 1%;
    position: absolute;
    padding: 5px;
  }

  .exam-container {
    font-size: 12px;
    top: 140%;
    left: 15%;
    position: absolute;
    padding: 1px;
  }

  .foundation-container {
    top: 125%;
    left: 28%;
    text-align: center;
  }
  .professions-container {
    font-size: 12px;
    top: 122%;
    left: 48%;
    position: absolute;
    padding: 0.8em;
  }

  .graduation-container {
    font-size: 12px;
    top: 122%;
    left: 80%;
    position: absolute;
  }

  .career-container {
    font-size: 12px;
    top: 123%;
    left: 65%;
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
    img {
        margin: 1px;
        width: 5%;
    }

    .graduation-container {
        font-size: 12px;
        top: 180%;
        left: 15%;
        width: 30em;
        position: absolute;
    }
    .graduation-details {
        padding-bottom: 10px;
    }
}
