.background-image {
  width: 100%;
  height: 50%;
  filter: contrast(50%);
}

.box {
  display: inline-block;
  background-color: rgb(214, 214, 127);
}
.apply-container {
  font-size: 13px;
  margin-top: -11em;
  margin-left: 11.4em;
  position: absolute;
  padding: 5px;
  width: 153px;
}

.apply {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 13px;
  margin: -1px;
  text-transform: uppercase;
  width: 11.9em;
  text-align: center;
}

.apply-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #3e4c5d;
  padding: 13px;
  color: #ffffff;
  width: 154px;
  text-align: center;
}

.exam-container {
  font-size: 13px;
  margin-top: -13em;
  margin-left: 24.8em;
  position: absolute;
  padding: 1px;
  padding-bottom: 115px;
}

.exam {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}

.entry-exam-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #fc4a4f;
  padding: 17px;
  color: #ffffff;
  width: 158px;
  padding-bottom: 31px;
  text-align: center;
}

.foundation-container {
  font-size: 13px;
  margin-top: -18.9em;
  margin-left: 37.4em;
  position: absolute;
  padding: 0.8em;
}

.foundation {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  width: 159px;
  text-align: center;
}

.program-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #8340b1;
  padding: 17px;
  color: #ffffff;
  width: 159px;
  text-align: center;
}

.module {
  box-shadow: inset 0 0 10px #000000;
  background-color: #8340b1;
  padding: 17px;
  color: #ffffff;
  width: 159px;
  text-align: center;
}

.professions-container {
  font-size: 13px;
  margin-top: -19em;
  margin-left: 51.8em;
  position: absolute;
  text-align: center;
}

.profession {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  width: 160px;
}

.professions-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffa100;
  padding: 17px;
  color: #ffffff;
  width: 160px;
}

.profession-module {
  box-shadow: inset 0 0 10px #000000;
  background-color: #cc8000;
  padding: 17px;
  color: #ffffff;
  text-align: center;
  width: 160px;
}

.professions-details {
  text-align: center;
}

.career-container {
  font-size: 13px;
  margin-top: -20em;
  margin-left: 65.4em;
  position: absolute;
}

.career {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}

.start-career-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #1ec05d;
  padding: 15px;
  padding-bottom: 115px;
  color: #ffffff;
  width: 150px;
  text-align: center;
}

.graduation-container {
  font-size: 13px;
  margin-top: -22em;
  margin-left: 78em;
  position: absolute;
}

.graduation {
  box-shadow: inset 0 0 10px #000000;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
}

.graduation-details {
  box-shadow: inset 0 0 10px #000000;
  background-color: #42abf8;
  padding: 15px;
  padding-bottom: 140px;
  color: #ffffff;
  text-align: center;
  width: 153px;
}