* {
    margin: 0;
    padding: 0;
}

.title-training {
    padding-left: 11em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.content-training {
    padding-left: 11em;
    padding-bottom: 10px;
}

.content-training > p {
    width: 60em;
}




